PORT=4000
HOST=0.0.0.0
CORS_ORIGIN=http://localhost:3000,http://127.0.0.1:3000,http://10.10.10.118:3000
NOCODB_BASE_URL=http://10.10.10.187:8080
NOCODB_TOKEN=g0f8OBK5OYDHhkTrHgIBhC977_D-Ot9Gn-og_exf
NOCODB_TABLE_PATH=/api/v2/tables/me55z1c2j2zfxuz/records
